h1{
    color: rgb(237, 123, 9);;
}

#heading{
    color: #8e8e01;
    background: red;
}
.pink{
    color: blanchedalmond;
    background: red;
}

.firstdiv{
    color: #ff053f;
    background: #b3b3b3;
}
.seconddiv{
    color: #49fab9;
    background: #f7eaea;
}
span{
    text-transform: uppercase;
}